<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="./icono/icono.jpg" alt="Este es el icono del ecommerce" />
    <a class="navbar-brand">Reestablecer contraseña</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>

<div class="containerForm">
  <form class="form" id="restoreForm">
    <h1 class="titleRestore">Reestablecer contraseña</h1>
    <label for="">Email: </label>
    <input type="text" name="email" />
    <p class="messageForm">Para volver al login, ingrese
      <a href="/login">aqui</a></p>
    <input type="submit" class="button" />
  </form>
</div>

<footer>
  <p style="text-align: center; color:whitesmoke;">
    &copy; Santiago Aquino - 2023</p>
</footer>

<script src="/js/restore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>