<div class="containerForm">
  <form
    action="/api/users/648350f226d7e56ad52e4a40/documents"
    method="POST"
    enctype="multipart/form-data"
    class="form"
  >
    <h1 class="titleForm">Suba aqui su archivo!!</h1>
    <label for="">Subir archivo </label>
    <input type="file" name="file" />
    <input type="submit" class="button" />
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>